<html xmlns="http://www.w3.org/1999/xhtml">
  <h1>Factura</h1>

  <table class="default">
    <tr>
      <th>Caracteristica</th>
      <th>valor</th>
    </tr>
    <tr>
      <td>folio</td>
      <td>$folio$</td>
    </tr>
    <tr>
      <td>regimenFiscalEmisorId</td>
      <td>$regimenFiscalEmisorId$</td>
    </tr>
    <tr>
      <td>regimenFiscalReceptorId</td>
      <td>$regimenFiscalReceptorId$</td>
    </tr>
    <tr>
      <td>planId</td>
      <td>$planId$</td>
    </tr>
    <tr>
      <td>usoCdfiId</td>
      <td>$usoCdfiId$</td>
    </tr>
    <tr>
      <td>formaPagoId</td>
      <td>$formaPagoId$</td>
    </tr>
    <tr>
      <td>rfcEmisor</td>
      <td>$rfcEmisor$</td>
    </tr>
    <tr>
      <td>nombreEmisor</td>
      <td>$nombreEmisor$</td>
    </tr>
    <tr>
      <td>rfcReceptor</td>
      <td>$rfcReceptor$</td>
    </tr>
    <tr>
      <td>nombreReceptor</td>
      <td>$nombreReceptor$</td>
    </tr>
    <tr>
      <td>lugarExpedicion</td>
      <td>$lugarExpedicion$</td>
    </tr>
    <tr>
      <td>fechaGeneracionFactura</td>
      <td>$fechaGeneracionFactura$</td>
    </tr>
    <tr>
      <td>tipoCdfi</td>
      <td>$tipoCdfi$</td>
    </tr>
    <tr>
      <td>subTotal</td>
      <td>$subTotal$</td>
    </tr>
    <tr>
      <td>ivaRate</td>
      <td>$ivaRate$</td>
    </tr>

    <tr>
      <td>ivaTotal</td>
      <td>$ivaTotal$</td>
    </tr>
    <tr>
      <td>total</td>
      <td>$total$</td>
    </tr>
    <tr>
      <td>metodoPago</td>
      <td>$metodoPago$</td>
    </tr>
    <tr>
      <td>moneda</td>
      <td>$moneda$</td>
    </tr>
    <tr>
      <td>folioFiscalDigital</td>
      <td>$folioFiscalDigital$</td>
    </tr>
    <tr>
      <td>certificadoDigital</td>
      <td>$certificadoDigital$</td>
    </tr>
    <tr>
      <td>fechaCertificacion</td>
      <td>$fechaCertificacion$</td>
    </tr>
    <tr>
      <td>selloDigitalContribuyente</td>
      <td>$selloDigitalContribuyente$</td>
    </tr>
    <tr>
      <td>selloDigitalSat</td>
      <td>$selloDigitalSat$</td>
    </tr>
    <tr>
      <td>cadenaOriginal</td>
      <td>$cadenaOriginal$</td>
    </tr>
    <tr>
      <td>codigoQr</td>
      <td>$codigoQr$</td>
    </tr>
  </table>
</html>
